/*// Eric Meyer's Reset CSS v1.0 - http://cssreset.com*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

@font-face {
    font-family: 'Streetwear';
    src: url('streetwear.eot');
    src: url('streetwear.eot?#iefix') format('embedded-opentype'),
         url('streetwear.woff') format('woff'),
         url('streetwear.ttf') format('truetype'),
         url('streetwear.svg#streetwearregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('OpenSans-Regular-webfont.eot');
    src: url('OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Regular-webfont.woff') format('woff'),
         url('OpenSans-Regular-webfont.ttf') format('truetype'),
         url('OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansBold';
    src: url('OpenSans-Bold-webfont.eot');
    src: url('OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Bold-webfont.woff') format('woff'),
         url('OpenSans-Bold-webfont.ttf') format('truetype'),
         url('OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

html {
    font-size: 62.5%;
    background-color: #f2f2f2;
    color: #525252;
}

body {
	font-size: 18px;
	line-height: 24px;
	font-family: "OpenSans", Helvetica, Arial, sans-serif;
	background: #f2f2f2;
}

a {
	text-decoration: none;
	color: #03aa69;

	&:hover, &:focus, &:active {
		color: darken(#03aa69, 10%);
	}
}

p, ul {
	margin-bottom: 15px;
}

img {
	max-width: 100%;
}

h1 {
	font-size: 76px;
	line-height: 1.7;
	font-family: Streetwear, Helvetica, Arial, sans-serif;
	color: #03aa69;
	text-shadow:-1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

h2 {
	font-size: 38px;
	line-height: 1.4;
	font-family: Streetwear, Helvetica, Arial, sans-serif;
	margin-bottom: 15px;
}

h4 {
	font-size: 32px;
	line-height: 1.4;
	margin-bottom: 25px;
	padding-bottom: 10px;
	font-weight: bold;
	border-bottom: 3px solid #fff;
}

.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.upper {
	text-transform: uppercase;
}

.btn {
	background-color: #575555;
	border: 2px solid darken(#575555, 10%);
	color: #fff;
	padding:10px;
	display: inline-block;
	font-size: 30px;
	font-family: OpenSansBold;
	font-weight: bold;
	margin-top: 10px;

	&:hover, &:active, &:focus {
		color: #fff;
	}

	.glyphicon {
		font-size: 25px;
	}
}

.btn-primary {
	background-color: #03aa69;
	border: 2px solid darken(#03aa69, 10%);
}

.header {
	background-color: #575555;
	padding: 20px 0 10px 0;
	margin-bottom:20px;
}
.footer {
	background-color: #575555;
	padding: 30px 0 20px 0;
	margin-top: 30px;
	color: #fff;
}

.header {
	h1 {
		transform:rotate(-5deg);
		-ms-transform:rotate(-5deg); /* IE 9 */
		-webkit-transform:rotate(-5deg); /* Opera, Chrome, and Safari */
	}
}

.question {
	margin-bottom: 20px;
}
.question-image {
	border: solid 8px #03aa69;
}
.error {
	padding:15px;
	background-color: #b73030;
	border: 2px solid darken(#b73030, 10%);
	color: #fff;
	font-size:22px;
	line-height: 1.4;
	margin:15px 0;
}
.radio {
	padding-left: 25px;
	margin: 15px 0;
	min-height: 20px;
}
.radio label {
	display: inline;
	cursor: pointer;
	margin-bottom: 5px;
}
.radio input {
	float: left;
	margin-left: -25px;
	margin-top: 5px;
}
.text-label {
	font-weight:bold;
	font-size: 18px;
	margin-top: 20px;
}
.text-input {
	padding: 6px 12px;
	display: block;
	height: 34px;
	width: 94%;
	font-size: 16px;
	margin: 5px auto 15px auto;
}
.score,
.score-description {
	padding: 15px;
	background-color: #03aa69;
	border: 2px solid darken(#03aa69, 10%);
	color: #fff;
	font-size: 28px;
	line-height: 1.4;
}
.score-description {
	margin-bottom:30px;

	h5 {
		color: #e8ee83;
		font-size: 35px;
		font-family: Streetwear, Helvetica, Arial, sans-serif;
		text-shadow:-1px -1px 0 #525252, 1px -1px 0 #525252, -1px 1px 0 #525252, 1px 1px 0 #525252;
	}
}

.leaderboard {
	background-color: #fff;
	border: solid 1px #dcdcdc;
	font-size: 20px;

	li {
		padding: 15px 10px;
		.clearfix;

		&.title {
			background-color: #888888;
		}
	}
	.position {
		width: 10%;
	}
	.name {
		width: 70%
	}
	.total {
		width: 20%
	}
	li:nth-child(even) {
    	background-color: #f2f2f2;
    }
}